<mat-card class="detail-police-card" *ngIf="police">
    <mat-error>
        {{detailErrorMessage}}
    </mat-error>  
    <mat-card-header>    
      <mat-card-title><h1>{{police.Address.Department}}</h1></mat-card-title> 
      <mat-card-subtitle>{{police.Address.Province}}</mat-card-subtitle>      
      <mat-card-subtitle>{{police.Address.District}}</mat-card-subtitle>                 
      <mat-card-subtitle>{{police.StartDate}}</mat-card-subtitle>    
      <mat-card-subtitle>{{police.EndDate}}</mat-card-subtitle>       
    </mat-card-header>  
</mat-card>