.detail-police-card {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.register-content{
    min-height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-full-width{
    width: 100%;
}